
		<hr>

		</div>

<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<ul class="adress">
						<li style="color: #fff;">Support</li>

						<li>
							<p>Bitlits.com is a BaaS Company.
								We specialize in Micro-Service Architecture and Blockchain
								systems. We love #kubernetes #ci #devops #blockchain</p>
						</li>

						<li>
							<a href="tel:16572043716">📞 +1(657)204-3716</a>
						</li>

						<li>
							<a href="mailto:sale@bitlits.com">📥 support@bitlits.com</a>
						</li>
					</ul>
				</div>

				<!-- Contact -->
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<ul class="contact">
						<li style="color: #fff;">Lorem Ipsum</a></li>

						<li>
							<a href="https://bitltis.com/contact">Lorem Ipsum</a>
						</li>

						<li>
							<a href="https://bitlits.com/contact">Lorem Ipsum</a>
						</li>

						<li>
							<a href="https://bitlits.com/contact">Lorem Ipsum</a>
						</li>

						<li>
							<a href="https://bitlits.com/contact">Lorem Ipsum</a>
						</li>

						<li>
							<a href="https://bitlits.com/contact">Lorem Ipsum</a>
						</li>

						<li>
							<a href="https://bitlits.com/contact">Lorem Ipsum</a>
						</li>

					</ul>
				</div>

				<!-- Contact 2 -->
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<ul class="contact">
						<li style="color: #fff;">Lorem Ipsum</a></li>
						<li>
							<a href="#">Lorem Ipsum</a>
						</li>

						<li>
							<a href="#">Lorem Ipsum</a>
						</li>

						<li>
							<a href="#">Lorem Ipsum</a>
						</li>

						<li>
							<a href="#">Lorem Ipsum</a>
						</li>

					</ul>
				</div>


				<!-- Social Media -->
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<ul class="social">
						<img src="/assets/img/qr.png" style="width:125px;display:block;margin:auto;" alt="Book Now" class="w3-container w3-padding-32 w3-center w3-opacity bg-grey">

						<li>
							<a href="https://twitter.com/bitlits"><i class="fab fa-twitter fa-2x bg-grey" style="padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://github.com/Jfaler/bitcoin-casino"><i class="fab fa-github fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://linkedin.com/company/bitlits"><i class="fab fa-linkedin fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="http://reddit.com/r/bitlits"><i class="fab fa-reddit fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://www.instagram.com/bitlits/"><i class="fab fa-instagram fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://www.snapchat.com/add/bitlits/"><i class="fab fa-snapchat-ghost fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://t.me/bitlits"><i class="fab fa-telegram fa-2x bg-grey" style="padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://facebook.com/bitlits/"><i class="fab fa-facebook fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://linkedin.com/company/bitlits"><i class="fab fa-qq fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://linkedin.com/company/bitlits"><i class="fab fa-weixin fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://join.slack.com/t/bitlits/shared_invite/enQtNTA2MjgwNjcxNTg3LTM1MTJhMGJhZGY2Y2QxMDc3N2YyMTI5YjY4NTFiNzA3ZmUwNmNhMTAxMDY1ZDE1ZjZjNTk3Mjc4ZDMxZTJiZGE"><i class="fab fa-slack fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

						<li>
							<a href="https://join.skype.com/invite/D5Cy04YL5Tc4"><i class="fab fa-skype fa-2x bg-grey" style="padding: 3px;padding: 3px;width:16.3%;display:block;margin-left:auto;margin-right:auto;text-align:center;"></i></a>
						</li>

					</ul>
				</div>

			</div>
		</div>
		<hr>
						<li style="20%;display:block;margin-left:auto;margin-right:auto;text-align:center;">
							<a href="https://bitlits.com/knowledgebase">Knowledge Base</a>&nbsp;&nbsp;<span class="diamond">❖</span>&nbsp;&nbsp;<a href="https://bitlits.com/disclaimer">Disclaimer</a>&nbsp;&nbsp;<span class="diamond">❖</span>&nbsp;&nbsp;<a href="https://bitlits.com/privacypolicy">Privacy Policy</a>
						</li>

		<hr>
		<p style="width:20%;display:block;margin-left:auto;margin-right:auto;text-align:center;color: #fff;">Designed in Los Angeles, California.</p>
		<p style="width:20%;display:block;margin-left:auto;margin-right:auto;text-align:center;color: #fff;">Copyright © 2013-2018. Bitlits.com, llc.</p>
		<p style="width:20%;display:block;margin-left:auto;margin-right:auto;text-align:center;color: #fff;">All Rights Reserved.</p>
	</footer>
	</body>
</html>
