<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bitlits - Open Source Crypto Wallet </title>
	<meta charset="utf-8">
	<meta name="description" content="&#127920; Bitlits is a open source cryptocurrency wallet" />
	<meta name="keywords" content="Bitlits, Bitlits.com, Bitcoin wallet, Open Source, Bits, Dogecoin, Litecoin, Ethereum, Siacoin, Blockchain, Cryptocurrency, Crypto, Anonymous, p2p, Monero, Dash, Software, BaaS, Decentralized, SHA-256, Scrypt, X11, Quark, Groestl, Blake-256, NeoScrypt, Ethash, Lyra2REv2, Free, Satoshi, Keno, Slots, Blackjack, Multiplier, Xrp, EOS, Stellar, Tether, Cardano, Tron, Iota, Neo, Ethereum Classic, Nem,
	Bytecoin, Lisk, Digibyte, Reddcoin, exchange, darkweb, open source bitcoin wallet, crypto, onion, difficulty, 888, 777, free bitcoin, wallet, blocks, digital currencies, hashrate, Address, txid, zcash, live, rewards," />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Bitlits llc.">
	<link rel="stylesheet" href="/assets/css/font-awesome-animation.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/flatly/bootstrap.min.css" rel="stylesheet">
	<link id="favicon" rel="shortcut icon" href="/assets/img/favicon-{{altcl}}.png">
	<!-- Open Graph data -->
	<link rel="canonical" href="https://www.bitlits.com/" />
	<meta property="og:site_name" content="bitlits" />
	<meta property="og:title" name="og:title" content="Free & easy to use cryptocurrency wallet" />
	<meta property="og:url" content="https://www.bitlits.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Bitlits is a cryptocurrency startup founded in 2013." />
	<meta property="og:image" name="og:image" content="https://www.bitlits.com/assets/img/bitlits.png" />
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@bitlits">
	<meta name="twitter:title" content="bitlits">
	<meta name="twitter:description" content="Bitlits is a cryptocurrency startup founded in 2013." />
	<meta name="twitter:creator" content="@bitlits">
	<!-- Twitter Summary card images must be at least 120x120px -->
	<meta name="twitter:image" content="https://www.Bitlits.com/assets/img/logo.png">
	<!-- End of Twitter -->

  <!--   <link href="/assets/css/base.css" rel="stylesheet"> -->
  {{#pagecss}}
    <link href="/assets/css/pages/{{pagecss}}.css" rel="stylesheet">
  {{/pagecss}}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond/respond.min.js"></script>
    <![endif]-->
<style>
    .modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.diamond {color: #fff;}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

</style>

  <link rel="shortcut icon" href="/assets/img/favicon-{{altcoinl}}.png">

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/jquery.cookie.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/holder/holder.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125432401-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125432401-1');
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
